*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: steelblue;
}
.wrapper{
    background-color: white;
    width: 42%;
    min-width: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 22px 0;
    padding-bottom: 48px;
    border-radius: 9px;
    box-shadow: 0 0 18px rgba(0,0,0,0.337);
}
.timer{
    position: relative;
    width: 91%;
    background: lightgreen;
    left: 5%;
    font-size: 40px;
    padding: 36px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 6px;
    box-shadow: 0 0 21px rgba(66, 5, 0.25);
}
.btn button{
width: 120px;
height: 45px;
background-color: lightgreen;
color: rgb(36, 6, 117);
border: none;
font-family: 'Times New Roman', Times, serif;
font-size: 23px;
border-radius: 6px;
cursor: pointer;
outline: none;
margin: 10px;
font-weight: bold;
}
.btn button:nth-last-child(1){
    background-color: yellow;
}
.btn button:nth-last-child(2){
    background-color:red;
}
.btn button:nth-last-child(3){
    background-color:green;
}
.btn button:nth-last-child(4){
    background-color:skyblue;
}
.btn{
    width: 92%;
    margin: 65px auto 0 auto;
    display: flex;
    justify-content: space-around;
    
}